<h4>Project description</h4>
<p>This is a simple To Do app made by Nurazem Kaldybaev as a demo project</p>
<br>
<p>Technologies used:</p>
<ul>
    <li>Ruby on Rails 4</li>
    <li>AngularJS</li>
    <li>Active model serializers</li>
    <li>Devise</li>
    <li>Postgres</li>
</ul>
<p>Please don't be harsh on me for the design of this app. It is not intended to demonstrate my web design skills(which I am working on right now), rather how to organize a typical Rails app for SPA usage.</p>


<p></p>
